.hide {
    display: none;
}

#start-button {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questions {
    text-align: center;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 500;
    padding: 50;
}