.hide {
    display: none;
}

#start-button {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.questions {
    text-align: center;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 500;
    padding: 50;
}
 /* Index 2 */

 h1 {
     text-decoration: underline;
     text-align: center;
     font-size: 50px;
 }